<div class="container">
  <h2 class="products-heading">Explore Products</h2>
  <div class="products-container">
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
    <app-product-card
      imageSrc="assets/svg-icons/explore-marketplace.svg"
      productName="Marketplace"
      [productPrice]="100"
      postedDate="03/01/2025"
    />
  </div>
</div>
