.container {
  width: calc(85vw - var(--spacing-3));
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: last baseline;
  height: 40%;
}

.no-products {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.no-products-text {
  font-weight: bold;
  margin-right: var(--spacing-1);
}

.sad-face {
  width: var(--spacing-3);
  height: var(--spacing-3);
}

.products-heading {
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.5px;
  margin: var(--spacing-2) 0 var(--spacing-3);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--spacing-4);
  height: fit-content;
  padding: var(--spacing-1) var(--spacing-2) var(--spacing-4);
  margin-bottom: var(--spacing-7);
}

@media screen and (max-width: 1024px) {
  .container {
    width: calc(80vw - var(--spacing-3));
  }

  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
