.product-card {
  width: fit-content;
  height: fit-content;
  width: 15rem;
  height: 18.75rem;
  box-shadow: var(--box-shadow-rounded);
}

.product-card:hover {
  cursor: pointer;
  box-shadow: var(--box-shadow-rounded-hover);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-1);
}

.product-image {
  width: 8rem;
  height: 8rem;
  margin-bottom: var(--spacing-1-5);
}

.product-name {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  margin-bottom: var(--spacing-quarter);
}

.product-price {
  font-weight: bold;
  color: var(--color-currency);
  margin-bottom: var(--spacing-2);
}

.posted-on {
  font-weight: 600;
  color: var(--color-blue-light);
}

@media screen and (max-width: 1024px) {
  .product-card {
    width: 14rem;
  }
}
