<mat-card appearance="raised" class="product-card" (click)="onCardClick()">
  <mat-card-content>
    <div class="card-container">
      <img mat-card-image class="product-image" [src]="imageSrc" alt="Product Image" />
      <h4 class="product-name">{{ productName }}</h4>
      <app-text id="product-price" class="product-price" size="normal">{{
        productPrice | currency
      }}</app-text>
      <button
        mat-flat-button
        id="add-to-cart"
        type="button"
        aria-label="Add to cart"
        (click)="onAddtoCart()"
      >
        <mat-icon>shopping_cart</mat-icon>
        Add to cart
      </button>
    </div>
    <app-text id="posted-on" size="x-small" class="posted-on"
      >Posted on: {{ postedDate | date }}</app-text
    >
  </mat-card-content>
</mat-card>
