<div class="order-summary-card">
  <h2 class="order-summary-heading">Order Summary</h2>
  <div class="order-details">
    <span>Items Total:</span>
    <span class="currency">{{ productsTotal | currency: 'USD' : 'symbol' : '1.2-2' }}</span>
  </div>
  <div class="order-details">
    <span>Handling Fee:</span>
    <span class="currency">{{ handlingFee | currency: 'USD' : 'symbol' : '1.2-2' }}</span>
  </div>
  <div class="total-details">
    <span>Total:</span>
    <span class="currency">{{ totalCost | currency: 'USD' : 'symbol' : '1.2-2' }}</span>
  </div>
  <button mat-flat-button id="checkout" class="checkout-button" type="button" aria-label="Checkout">
    Checkout
  </button>
</div>
