.order-summary-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  border: 1px solid var(--color-border-1);
  border-radius: 0.75em;
  padding: var(--spacing-2);
}

.order-summary-heading {
  text-align: center;
  margin: 0 0 var(--spacing-2) 0;
}

.order-details {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-1) 0;
  padding: 0px var(--spacing-1);
  width: 100%;
}

.total-details {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--color-border-2);
  padding: var(--spacing-1);
  margin: var(--spacing-1) 0;
  width: 100%;
}

.currency {
  color: var(--color-currency);
  font-weight: bold;
}

.checkout-button {
  align-items: center;
  width: 50%;
}
