<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketplace UI</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <!-- Cards Section -->
    <div class="cards-container">
        <div class="card">
            <div class="card-icon">
                <img src="assets/svg-icons/explore_market.svg "/>
            </div>

            <div class="card-title">Explore Marketplace</div>
            <div class="card-text">Discover and purchase items within UF community </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <div class="card-icon">
                    <img src="assets/svg-icons/List_products.svg "/>
                </div>
            <div class="card-title">List Products</div>
            <div class="card-text">Early list and sell your items with campus community</div>
        </div>
    </div>

</body>
</html>
