<app-navbar [showAccount]="true" [showCart]="true" />
<div class="list-product-container">
  <app-heading id="list-product-heading" heading="List a New Product" />
  <form ngNativeValidate (submit)="onListProduct($event)">
    <app-list-product-form />
    <app-product-images />
    <div class="list-product-button-container">
      @if (isLoading$ | async; as isLoading) {
        <mat-spinner diameter="40" />
      } @else {
        <button mat-flat-button id="list-product-button" type="submit" class="list-product-button">
          List Product
        </button>
      }
    </div>
  </form>
</div>
