button {
  width: fit-content;
  cursor: pointer;
  text-align: center;
  padding: 0px;
}

.text {
  border: none;
  background: none;
  color: var(--mat-sys-primary);
}

.text:hover {
  filter: brightness(60%);
}
