:root {
  --spacing-quarter: 2px;
  --spacing-half: 4px;
  --spacing-1: 8px;
  --spacing-1-5: 12px;
  --spacing-2: 16px;
  --spacing-2-5: 20px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --spacing-large: 100px;
  --spacing-x-large: 150px;
  --spacing-xx-large: 200px;

  --font-size-normal: 14px;

  --color-border-1: #3e4c59;
  --color-border-2: #dee2e6;
  --color-border-3: #d1d5db;
  --color-background: #fff;
  --color-background-gray: #f9fafb;
  --color-background-gray-1: #eff6ff;
  --color-background-hover: #f0f4f8;
  --color-background-scrollbar: #c7ccd8b9;
  --color-background-scrollbar-hover: #c7ccd8;

  --color-black: black;
  --color-blue: #005398;
  --color-blue-hover: #005dbbc1;
  --color-blue-light: #005498a0;
  --color-currency: #157811;
  --color-gray: #6b7280;
  --color-gray-light: #89909e;
  --color-highlight: #0066cc;
  --colot-logout: #b22222;
  --color-label: #374151;
  --color-notification-error: #f44336;
  --color-notification-info: #2196f3;
  --color-notification-success: #4caf50;
  --color-notification-warning: #ff9800;
  --color-white: white;

  --border-1: 1px solid #ccc;
  --border-2: 1px solid #e0e0e0;
  --border-input: 1.5px solid var(--color-border-1);
  --border-landing-page-card: 1.5px solid var(--color-border-2);
  --border-bottom-navbar: 1px solid var(--color-blue);

  --font-label: 700 16px 'Nunito', sans-serif;

  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --box-shadow-form: 0 4px 12px rgba(0, 0, 0, 0.1);
  --box-shadow-input: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-rounded: inset 0 2px 6px rgba(0, 0, 0, 0.07);
  --box-shadow-rounded-hover: inset 0 2px 6px rgba(0, 0, 0, 0.18);
}

html,
body {
  margin: 0;
  max-width: 100vw;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  background-color: var(--color-background);
}

*::-webkit-scrollbar {
  width: 0.65rem;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-background-scrollbar);
  border-radius: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-white);
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-background-scrollbar-hover);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
