<div class="product-details-container">
  <h2 class="product-name">{{ productName }}</h2>
  <div class="description-container">
    <h3 class="description">Description</h3>
    <app-text id="product-description" size="normal" class="product-description">
      {{ productDescription }}
    </app-text>
  </div>
  <div class="product-meta">
    <app-text id="product-meta-details" size="normal">
      Posted On: <b>{{ postedAt | date: 'MMM dd, yyyy' }}</b>
    </app-text>
    <app-text id="product-meta-details" size="normal">
      Posted By: <b>{{ postedBy }}</b>
    </app-text>
  </div>
  <label for="quantity" class="quantity-label">
    <app-text id="quantity" size="normal">Quantity:</app-text>
  </label>
  <select name="quantity" id="quantity" class="quantity-select" [(ngModel)]="quantity">
    @for (option of quantityOptions; track $index) {
      <option [value]="option">{{ option }}</option>
    }
  </select>
  <div class="product-buttons-container">
    <button
      mat-flat-button
      id="buy-product"
      type="button"
      (click)="buyProduct()"
      aria-label="But Product"
    >
      <mat-icon>shopping_bag</mat-icon>
      Buy Now
    </button>
    @if (addToCartLoading) {
      <mat-spinner [diameter]="40" />
    } @else {
      <button
        mat-flat-button
        id="add-to-cart"
        type="button"
        (click)="addtoCart()"
        aria-label="Add to cart"
      >
        <mat-icon>shopping_cart</mat-icon>
        Add to cart
      </button>
    }
  </div>
</div>
