<app-form id="signup-form" (submitForm)="onSubmit()" heading="Join Marketplace">
  <div class="form-inputs">
    <app-input
      id="name"
      class="signup-element"
      placeholder="Full Name"
      type="text"
      [(value)]="signupData.name"
      [required]="true"
    />
    <app-input
      id="email"
      class="signup-element"
      placeholder="Email (ufl.edu)"
      type="email"
      [(value)]="signupData.email"
      [required]="true"
    />
    <app-input
      id="mobile-number"
      class="signup-element"
      placeholder="Mobile Number"
      type="tel"
      [(value)]="signupData.mobileNumber"
      pattern="\d{3}-\d{3}-\d{4}"
      [required]="true"
    />
    <app-input
      id="password"
      class="signup-element"
      placeholder="Password"
      type="password"
      [(value)]="signupData.password"
      [required]="true"
    />
    <app-input
      id="confirm-password"
      class="signup-element"
      placeholder="Confirm Password"
      type="password"
      [(value)]="signupData.confirmPassword"
      [required]="true"
    />
  </div>
  @if (isLoading$ | async; as isLoading) {
    <mat-spinner diameter="40" />
  } @else {
    <button mat-flat-button id="signup-button" type="submit" class="signup-button">Sign Up</button>
  }
  <span class="login-actions">
    <app-text id="registered-text" size="small" class="login-text"> Already registered? </app-text>
    <app-button id="login-button" variant="text" type="button" [onClickHandler]="onLogin">
      Login
    </app-button>
  </span>
</app-form>
