.notifications-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 25rem;
  max-width: 60%;
  max-height: 10%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: var(--spacing-1);
  left: 50%;
  transform: translateX(-50%);
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.notifications-container > * {
  scroll-snap-align: start;
}

.notifications-container::-webkit-scrollbar {
  display: none;
}

.notifications-container::after {
  content: '';
  scroll-snap-align: start;
  height: 0;
}

.notification {
  display: flex;
  align-items: center;
  padding: var(--spacing-2);
  border-radius: var(--spacing-1);
  color: var(--color-background);
  font-size: medium;
  box-shadow: var(--box-shadow);
  justify-content: space-between;
  margin-bottom: var(--spacing-1);
}

.notification .message {
  margin-left: 10px;
}

.notification.info {
  background-color: var(--color-notification-info);
}

.notification.warning {
  background-color: var(--color-notification-warning);
}

.notification.success {
  background-color: var(--color-notification-success);
}

.notification.error {
  background-color: var(--color-notification-error);
}

.notification-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.close-icon {
  margin-right: auto;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.close-icon:hover {
  opacity: 0.8;
}
