<div class="notifications-container">
  @for (notification of notifications; track notification.id) {
    <div class="notification" [ngClass]="notification.type">
      <div class="notification-content">
        <app-text id="notification-text">{{ notification.message }}</app-text>
      </div>
      <img
        class="close-icon"
        src="assets/svg-icons/close-icon.svg"
        alt="Close"
        tabindex="0"
        (click)="removeNotification(notification.id!)"
        (keydown.enter)="removeNotification(notification.id!)"
      />
    </div>
  }
</div>
