.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  border-bottom: var(--border-bottom-navbar);
  top: 0;
  padding: var(--spacing-1) 0px;
  overflow-x: visible;
  color: var(--color-white);
  background-color: var(--color-blue);
}

.gator-marketplace {
  display: flex;
  align-items: center;
  margin-left: var(--spacing-2-5);
  font-weight: bold;
}

.gator-marketplace h2 {
  margin: 0;
  padding: 0;
}

.gator-marketplace:hover {
  cursor: pointer;
}

.gator-logo {
  margin-right: var(--spacing-1);
}

.search-bar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 320px;
  display: flex;
  align-items: center;
}

.search-bar app-input {
  flex-grow: 1;
}

.search-icon {
  position: absolute;
  right: var(--spacing-half);
  width: var(--spacing-3);
  height: var(--spacing-3);
  cursor: pointer;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-right: var(--spacing-3);
}

.navbar-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: var(--spacing-4);
}

.navbar-link:hover {
  opacity: 0.7;
}

.navbar-link a {
  color: var(--color-white);
  text-decoration: none;
  transition: opacity 0.3s;
}

.navbar-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: var(--spacing-half);
  margin-bottom: var(--spacing-quarter);
  cursor: pointer;
}

.router-link {
  margin-right: var(--spacing-quarter);
}
