<app-navbar [showAccount]="true" />
<div class="cart-container">
  @if (isLoading$ | async; as isLoading) {
    <mat-spinner class="loader" diameter="80" />
  } @else {
    @if (isEmptyCart) {
      <h2 class="empty-cart-heading">
        Your cart is currently empty.
        <a [routerLink]="'/products'" class="add-items-link">Browse products</a>
      </h2>
    } @else {
      <app-heading id="cart-heading" heading="Your Cart" />
      <div class="cart-details-container">
        <div class="cart-products-container">
          <h2 class="cart-details-heading">Cart Details</h2>

          @for (cartProduct of cartDetails.cartProducts; track $index) {
            <app-cart-card [cartProduct]="cartProduct" />
          }
        </div>
        <app-order-summary
          [productsTotal]="cartDetails.productsTotal"
          [handlingFee]="cartDetails.handlingFee"
          [totalCost]="cartDetails.totalCost"
        />
      </div>
    }
  }
</div>
