.sidebar {
  display: flex;
  flex-direction: column;
  width: 15vw;
  padding: var(--spacing-1-5);
}

.section {
  margin-bottom: var(--spacing-2);
}

.section-heading {
  margin: 0px 0px var(--spacing-half);
}

.section-details {
  margin-top: var(--spacing-1);
}

.section-item {
  margin-bottom: var(--spacing-1);
}
