<div class="sidebar">
  <div class="section">
    <h3 class="section-heading">Categories</h3>
    <mat-divider />
    <div class="section-details">
      @for (category of categories; track $index) {
        <div class="section-item">
          <app-input type="checkbox" id="category-checkbox-{{ category }}" />
          <label for="category-checkbox-{{ category }}" class="label-name">
            {{ category }}
          </label>
        </div>
      }
    </div>
  </div>
  <div class="section">
    <h3 class="section-heading">Sort</h3>
    <mat-divider />
    <div class="section-details">
      @for (sortOption of sortOptions; track $index) {
        <div class="section-item">
          <app-input
            type="radio"
            name="sortOption"
            id="sortoption-radio-{{ sortOption }}"
            [checked]="sortOption === 'Most Popular'"
          />
          <label for="sortoption-radio-{{ sortOption }}" class="label-name">
            {{ sortOption }}
          </label>
        </div>
      }
    </div>
  </div>
</div>
