<app-form id="login-form" (submitForm)="onSubmit($event)" heading="Login to Marketplace">
  <div class="form-inputs">
    <app-input
      id="email"
      class="login-element"
      placeholder="Email"
      type="email"
      [(value)]="email"
      [required]="true"
    />
    <app-input
      id="password"
      class="login-element"
      placeholder="Password"
      type="password"
      [(value)]="password"
      [required]="true"
    />
  </div>
  <button mat-flat-button id="login-button" type="submit" class="login-button">Login</button>
  <span class="signup-actions">
    <app-text id="no-account-text" size="small"> Don't have an account? </app-text>
    <app-button id="signup-button" variant="text" type="button" [onClickHandler]="onSignUp">
      Sign Up
    </app-button>
  </span>
</app-form>
