.product-details-container {
  display: flex;
  padding: var(--spacing-2);
  justify-content: space-between;
}

.product-details {
  display: flex;
  width: 100vw;
}

.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}
