<div class="cart-card">
    <div class="item-image">
      <img [src]="item.imageUrl" [alt]="item.name" />
    </div>
  
    <div class="item-info">
      <div class="item-row">
        <div class="item-name-and-remove">
          <h3>{{ item.name }}</h3>
          <a href="#" (click)="onRemoveClick($event)">Remove Item</a>
        </div>
  
        <div class="qty-price">
          <label>Qty</label>
          <select
            [value]="item.quantity || 1"
            (change)="onQuantityChange($event.target.value)">
            <option *ngFor="let qty of quantityOptions" [value]="qty">{{ qty }}</option>
          </select>
  
          <span class="price">Price: <span class="price-green">\${{ item.price }}</span></span>
        </div>
      </div>
    </div>
  </div>
  