.cart-card-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-1);
  height: 6rem;
  max-height: 20vh;
  padding: var(--spacing-2);
  width: fit-content;
}

.cart-image {
  width: 6rem;
  height: 6rem;
  margin-right: var(--spacing-3);
  cursor: pointer;
}

.cart-product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 12.5rem;
  height: 70%;
  margin-right: var(--spacing-x-large);
}

.product-name {
  margin: 0;
}

.quantity-selector {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-border-1);
  border-radius: 1rem;
  padding: 0 var(--spacing-half) 0;
  margin-right: var(--spacing-6);
  user-select: none;
  width: 5rem;
}

.quantity-button {
  background: none;
  border: none;
  padding: none;
  cursor: pointer;
  font-size: large;
}

.currency {
  margin-left: var(--spacing-quarter);
  color: var(--color-currency);
  font-weight: bolder;
}
