<div class="cart-card-container">
  <img
    [src]="cartProduct.imageSrc"
    [alt]="cartProduct.name"
    class="cart-image"
    tabindex="0"
    (click)="navigateToProductPage()"
    (keyup.enter)="navigateToProductPage()"
  />
  <div class="cart-product-details">
    <app-text id="product-name" size="medium">
      <b>{{ cartProduct.name }}</b>
    </app-text>
    <app-button id="remove-item" type="button" variant="text" [onClickHandler]="onRemoveFromCart">
      Remove Item
    </app-button>
  </div>
  @if (isRemoveItemLoading$ | async; as isLoading) {
    <mat-spinner [diameter]="40" />
  } @else {
    <div class="quantity-selector">
      <button class="quantity-button" (click)="adjustQuantity(-1)">-</button>
      <span class="quantity-display" id="quantity-display">
        {{ cartProduct.quantity }}
      </span>
      <button class="quantity-button" (click)="adjustQuantity(+1)">+</button>
    </div>
    <div>
      <app-text id="price" size="normal">
        Price:
        <span class="currency">
          {{ cartProduct.price | currency: 'USD' : 'symbol' : '1.2-2' }}
        </span>
      </app-text>
    </div>
  }
</div>
